<a href="https://colab.research.google.com/github/gauravvxv/QuickBite-Express-Crisis-Recovery/blob/main/Notebook/QuickBite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QuickBite Express Crisis Recovery**

## **Business Problem**

QuickBite Express is a Bengaluru-based food-tech startup (founded in 2020) that connects customers with nearby restaurants and cloud kitchens. In June 2025, QuickBite faced a major crisis. A viral social media incident involving food safety violations at partner restaurants, combined with a week-long delivery outage during the monsoon season, triggered massive customer backlash. Competitors capitalized with aggressive campaigns, worsening the situation.

The challenges were severe:

* A large portion of active users disengaged within a short period.
* Daily orders saw a sharp decline compared to earlier months.
* Customer satisfaction scores fell sharply, signaling trust issues.
* Many partner restaurants shifted to competing platforms.
* Customer acquisition costs rose significantly.

## **Import Libraries**

In [1]:
import pandas as pd

## **Load CSV file**

In [21]:
customers = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/dim_customer.csv')
d_partner = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/dim_delivery_partner_.csv')
menu = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/dim_menu_item.csv')
restaurants = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/dim_restaurant.csv')
d_performance = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/fact_delivery_performance.csv')
order_items = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/fact_order_items.csv')
orders = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/fact_orders.csv')
rating = pd.read_csv('/content/drive/MyDrive/RPC_18_Datasets/fact_ratings.csv')

## **All DataFrame into one Dictionary**

In [27]:
datasets = {
    'customers': customers,
    'delivery_partner': d_partner,
    'menu': menu,
    'restaurants': restaurants,
    'delivery_performance': d_performance,
    'order_items': order_items,
    'orders': orders,
    'rating': rating
}

In [29]:
summary = []

for name, df in datasets.items():
    row = {
        'Dataset': name,
        'Rows': df.shape[0],
        'Columns': df.shape[1],
        'Total missing values': df.isnull().sum().sum(),
        'Total duplicate rows': df.duplicated().sum()
    }
    summary.append(row)

summary_df = pd.DataFrame(summary)

summary_df

,Dataset,Rows,Columns,Total missing values,Total duplicate rows
0,customers,107776,4,0,0
1,delivery_partner,15000,7,0,0
2,menu,342671,6,0,0
3,restaurants,19995,7,0,0
4,delivery_performance,149166,4,0,0
5,order_items,342994,8,0,0
6,orders,149166,11,5635,0
7,rating,68842,7,119,16

In [30]:
for name, df in datasets.items():
    print(f"Null values in dataset: {name}")
    null_counts = df.isnull().sum()
    null_cols = null_counts[null_counts > 0]

    if null_cols.empty:
        print("No null values found.")
    else:
        print(null_cols)

    print("\n")

Null values in dataset: customers
No null values found.


Null values in dataset: delivery_partner
No null values found.


Null values in dataset: menu
No null values found.


Null values in dataset: restaurants
No null values found.


Null values in dataset: delivery_performance
No null values found.


Null values in dataset: order_items
No null values found.


Null values in dataset: orders
delivery_partner_id    5635
dtype: int64


Null values in dataset: rating
order_id            17
customer_id         17
restaurant_id       17
rating              17
review_text         17
review_timestamp    17
sentiment_score     17
dtype: int64

In [36]:
rating.dropna(inplace=True)

In [37]:
rating.isnull().sum()

order_id            0
customer_id         0
restaurant_id       0
rating              0
review_text         0
review_timestamp    0
sentiment_score     0
dtype: int64